{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Empathy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
    <!-- <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" /> -->
    <script src="main.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
</head>
<body>
    <nav>
        <img id= logo-nav src="{% static 'images/empathy-text.png' %}" alt="logo">
        <a href="#">Sobre</a>
        <a href="#">Quem Somos</a>
        <a href="#">Blog</a>
        <a href="#">Imigrantes</a>
        <a href="#">Nos acompanhe</a>   
    </nav>

    <section>
        <h1 id= h11>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error culpa, excepturi autem voluptatibus facilis optio, recusandae libero suscipit ipsum, modi </p>
            <a href="/cadastro1">
                <button type="button">
                    Cadastre-se
                </button> 
            </a>           
        </h1>
        <h1 id= h12>
            <img id=logo-maos src="{% static 'images/empathy-maos.png' %}" alt="">
        </h1>
        <h1 id= h13>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis sit maiores sint maxime vitae sed ullam minima earum fuga labore ab, officia</p>
            <button type="button">Cadastre-se</button>            
        </h1>
    </section>
    <aside>
        <div id=coluna1>
            <div>
                <img src="{% static 'images/empathy-text.png' %}">
            </div>
                  
            <p id="coluna1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati molestiae dignissimos maxime laudantium nesciunt explicabo quia accusantium ullam quaerat ipsa omnis pariatur quod, blanditiis dicta corrupti, mollitia recusandae aliquid vel?</p>
        </div>

        <iframe id="coluna2" width="560" height="315" src="https://www.youtube.com/embed/yTHkredYWzk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>  

    </aside>  
    <footer>
    </footer>

    

</body>
</html>