{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Empathy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href="{% static 'css/style.css' %}">
    <script src="main.js"></script>
</head>
<body>
    <section id="grid">
        <header class="GridHeader">Header</header>
        <nav class="GridNav">Nav</nav>
        <article class="GridContent">
            <div class="button-box">
                <button>Cadastre-se</button>
            </div>
        </article>
        <aside class="GridAside">Asside</aside>
        <footer class="GridFooter">Footer</footer>
    </section>
</body>
</html>