{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Empathy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
    <!-- <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" /> -->
    <script src="main.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
</head>
<body>
    <div id="grid">
        <nav id= nav>
                <img id= logo-nav src="{% static 'images/empathy-text.png' %}" alt="logo">
                    <div id="a-nav">
                        <a href="#">Sobre</a>
                        <a href="#">Quem Somos</a>
                        <a href="#">Blog</a>
                        <a href="#">Imigrantes</a>
                        <a href="#">Nos acompanhe</a>
                    </div>    
        </nav>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque possimus labore, est eaque fuga dolorem ad modi, adipisci dignissimos perspiciatis cum veritatis dolore nostrum, provident voluptates sunt error commodi corrupti!</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus reprehenderit blanditiis laborum iste. Dolorem assumenda doloribus placeat mollitia, animi soluta, illo alias molestias vitae facilis pariatur autem cupiditate in quam!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque possimus labore, est eaque fuga dolorem ad modi, adipisci dignissimos perspiciatis cum veritatis dolore nostrum, provident voluptates sunt error commodi corrupti!</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus reprehenderit blanditiis laborum iste. Dolorem assumenda doloribus placeat mollitia, animi soluta, illo alias molestias vitae facilis pariatur autem cupiditate in quam!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque possimus labore, est eaque fuga dolorem ad modi, adipisci dignissimos perspiciatis cum veritatis dolore nostrum, provident voluptates sunt error commodi corrupti!</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus reprehenderit blanditiis laborum iste. Dolorem assumenda doloribus placeat mollitia, animi soluta, illo alias molestias vitae facilis pariatur autem cupiditate in quam!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque possimus labore, est eaque fuga dolorem ad modi, adipisci dignissimos perspiciatis cum veritatis dolore nostrum, provident voluptates sunt error commodi corrupti!</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus reprehenderit blanditiis laborum iste. Dolorem assumenda doloribus placeat mollitia, animi soluta, illo alias molestias vitae facilis pariatur autem cupiditate in quam!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque possimus labore, est eaque fuga dolorem ad modi, adipisci dignissimos perspiciatis cum veritatis dolore nostrum, provident voluptates sunt error commodi corrupti!</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus reprehenderit blanditiis laborum iste. Dolorem assumenda doloribus placeat mollitia, animi soluta, illo alias molestias vitae facilis pariatur autem cupiditate in quam!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque possimus labore, est eaque fuga dolorem ad modi, adipisci dignissimos perspiciatis cum veritatis dolore nostrum, provident voluptates sunt error commodi corrupti!</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus reprehenderit blanditiis laborum iste. Dolorem assumenda doloribus placeat mollitia, animi soluta, illo alias molestias vitae facilis pariatur autem cupiditate in quam!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque possimus labore, est eaque fuga dolorem ad modi, adipisci dignissimos perspiciatis cum veritatis dolore nostrum, provident voluptates sunt error commodi corrupti!</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus reprehenderit blanditiis laborum iste. Dolorem assumenda doloribus placeat mollitia, animi soluta, illo alias molestias vitae facilis pariatur autem cupiditate in quam!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque possimus labore, est eaque fuga dolorem ad modi, adipisci dignissimos perspiciatis cum veritatis dolore nostrum, provident voluptates sunt error commodi corrupti!</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus reprehenderit blanditiis laborum iste. Dolorem assumenda doloribus placeat mollitia, animi soluta, illo alias molestias vitae facilis pariatur autem cupiditate in quam!</p>
</body>
</html>