{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Empathy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
    <!-- <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" /> -->
    <script src="main.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
</head>
<body>
    <nav>
        <img id= logo-nav src="{% static 'images/empathy-text.png' %}" alt="logo">
        <a href="#">Sobre</a>
        <a href="#">Quem Somos</a>
        <a href="#">Blog</a>
        <a href="#">Imigrantes</a>
        <a href="#">Nos acompanhe</a>   
    </nav>

    <section>
        <h1 id= h11>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Error culpa, excepturi autem voluptatibus facilis optio, recusandae libero suscipit ipsum, modi blanditiis neque debitis aliquam officiis et repellendus sit. Unde, soluta.
        </h1>
        <h1 id= h12>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur mollitia officiis voluptatibus optio totam sapiente quia amet dolorum, accusamus, delectus dolores omnis quasi rem? Temporibus sapiente reiciendis voluptas doloremque consequuntur!
        </h1>
        <h1 id= h13>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis sit maiores sint maxime vitae sed ullam minima earum fuga labore ab, officia explicabo eos quae deleniti rem dignissimos quaerat odio?
        </h1>
    </section>  
    <footer>
    </footer>

    

</body>
</html>