{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Empathy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/style_home.css' %}">
    <!-- <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" /> -->
    <script src="main.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
</head>
<body>
    <nav>
        <img id= logo-nav src="{% static 'images/empathy-text.png' %}" alt="logo">
        <a href="#">Sobre</a>
        <a href="#">Blog</a>
        <a href="#">Suporte</a>
        <a href="#">Projetos</a>
        <a href="#">Contato</a>   
        <a href="/login">Entre</a>   
    </nav>

    <!-- <div id=grid_section> -->
        <section>
            <h1 id= h11>
                <p>Preciso de Ajuda!</p>
                <a href="/cadastro1">
                    <button type="button">
                        Cadastre-se
                    </button> 
                </a>           
            </h1>
            <div id= h12>
                <img src="{% static 'images/empathy-maos.png' %}" alt="">
            </div>
            <h1 id= h13>
                <p>Quero Ajudar!</p>
                <a href="/cadastro2">
                    <button type="button">
                        Cadastre-se   
                    </button>
                </a>               
            </h1>
        </section>
    <!-- </div>     -->

    <aside>
        <div id=coluna1>
            <div>
                <img src="{% static 'images/empathy-text.png' %}">
            </div>
                  
            <p id="coluna1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati molestiae dignissimos maxime laudantium nesciunt explicabo quia accusantium ullam quaerat ipsa omnis pariatur quod, blanditiis dicta corrupti, mollitia recusandae aliquid vel?</p>
        </div>

        <iframe id="coluna2" width="560" height="315" src="https://www.youtube.com/embed/yTHkredYWzk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>  

    </aside>
    
    <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque aut maiores non! Perspiciatis quidem, id, aspernatur consequuntur sapiente in, error ipsa quae aperiam iusto nam ullam pariatur nobis omnis possimus!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque aut maiores non! Perspiciatis quidem, id, aspernatur consequuntur sapiente in, error ipsa quae aperiam iusto nam ullam pariatur nobis omnis possimus!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque aut maiores non! Perspiciatis quidem, id, aspernatur consequuntur sapiente in, error ipsa quae aperiam iusto nam ullam pariatur nobis omnis possimus!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque aut maiores non! Perspiciatis quidem, id, aspernatur consequuntur sapiente in, error ipsa quae aperiam iusto nam ullam pariatur nobis omnis possimus!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque aut maiores non! Perspiciatis quidem, id, aspernatur consequuntur sapiente in, error ipsa quae aperiam iusto nam ullam pariatur nobis omnis possimus!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque aut maiores non! Perspiciatis quidem, id, aspernatur consequuntur sapiente in, error ipsa quae aperiam iusto nam ullam pariatur nobis omnis possimus!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque aut maiores non! Perspiciatis quidem, id, aspernatur consequuntur sapiente in, error ipsa quae aperiam iusto nam ullam pariatur nobis omnis possimus!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque aut maiores non! Perspiciatis quidem, id, aspernatur consequuntur sapiente in, error ipsa quae aperiam iusto nam ullam pariatur nobis omnis possimus!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque aut maiores non! Perspiciatis quidem, id, aspernatur consequuntur sapiente in, error ipsa quae aperiam iusto nam ullam pariatur nobis omnis possimus!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque aut maiores non! Perspiciatis quidem, id, aspernatur consequuntur sapiente in, error ipsa quae aperiam iusto nam ullam pariatur nobis omnis possimus!</p>
        </div> 

    <footer>
        <p id= footer1>Empathy - Building bridges. Breaking borders.</p>
        <div id=footer3>
            <div>
                <img src="{% static 'images/footer/facebook.png' %}">
                <img src="{% static 'images/footer/youtube.png' %}">
                <img src="{% static 'images/footer/twitter.png' %}">                
            </div>
        </div>   
    </footer>

    

</body>
</html>