body {
    margin: 0;
    background: linear-gradient(201deg, #5f88ff, #9ab5e5, #99d8c9);
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 550px;
}

form {
  width: 350px;
  height: 280px;
  border: none;
  background-color: #fff;
  box-shadow: 2px 2px 30px grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  width: 85%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#entrar {
  background-color: rgb(76, 67, 156);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding: 10px 40px;
  margin-top: 6px;
}

#cancelar {
  background-color: #b3b3b3;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding: 2px 20px;
  margin-top: 2px;
}

#logo img{
    height: 30px;
    width: auto;
    display: flex;
    /* align-items: flex-start; */
    margin-bottom: 5px;
}    