body {
    margin: 0;
    background: linear-gradient(201deg, #5f88ff, #9ab5e5, #99d8c9);
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

main {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 700px;
}

form {
  width: 700px;
  height: 600px;
  border: black;
  border-width: 4px;
  margin: 20px;
  background-color: #fff;
  box-shadow: 2px 2px 30px grey;
  display: flex;
  justify-content: center;
  align-items: center;
} 