{% extends 'layout.html' %}

* { padding:0; margin: 0; }

#grid {
    display: grid;
    grid-template-areas: "header header header header"
                         "nav nav nav nav"
                         "content content content content"
                         "aside aside aside aside"
                         "footer footer footer footer"
}