a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: flex-end;
    margin-right: 70px;
    margin-top: 5px;
}

a:hover {
        color: #b3b3b3;
}

aside {
    margin-top: 10%;
    display: grid;
    grid-template-areas:"coluna1 coluna2";
    grid-template-rows: 400px;
    grid-template-columns: 50% 50%;
    background-color: white;
}
aside p {
    margin-top: 70px;
    margin-left: 50px;
    margin-right: 50px;
}
aside iframe {
    margin-top: 50px;
}

body {
    margin: 0;
    padding: 0;
    background-color:#E1E7E4;   
    overflow-x: hidden;
}

button {
    display: flex;
    align-items: center;
    border-radius: 24px;
    padding: 14px 40px;
    background-color:  #66c3b7;
    border: none;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover {
    cursor: pointer;
    background-color: #99d8c9;
}

#coluna1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#coluna1 img{
    width: auto;
    height: 50px;
}

#h11 {
    grid-area: h1;
    color: black;
}

#h12 {
    display: grid;
    grid-area: h2;	  
    margin-right: 50px;
	align-items: center;
	
}

#logo-maos {
    display: flex;    
    width: 10x;
    height: 350px;
    margin-top: 100px;
}

#h13 {
    grid-area: h3;
    color:black;
}

#logo-nav { 
    height: 35px;
    width: auto;
    display: flex;
    align-items: flex-start;
    margin-left: 70px;   
    margin-top: 5px; 
}

#logo-nav:hover {
    cursor: pointer;
}

nav{
    display: flex;
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    justify-content: space-between;
    /* background: white; */
    background-image: linear-gradient(white, #E1E7E4);
    padding: 15px;
    align-items: center;
    font-weight: bold;
    font-family: 'Fjalla One', sans-serif;
    opacity: 0,9;
}

section {
    display: grid;
    grid-template-areas:
    ". h2 ."
    "h1 h2 h3"
    ". h2 .";
    grid-template-rows: 33% 33% 33% 33%;
    grid-template-columns: 33% 33% 33% 33%;
}

section hgroup {
    justify-content: center;
    display: flex;
}


footer {
    display: grid;    
    grid-template-areas: "footer1 footer2 footer3"
                         ". footer2 footer3"
                         ". footer2 footer3"   ;
    grid-template-rows:33% 33% 33%;
    grid-template-columns: 33% 33% 33%;
    background-color: black;
}

#footer3 {
    display: grid;
    grid-area: footer3;
	flex-direction: row;
    justify-content: flex-end;
    margin-right: 50px;
	align-items: center;
	align-content: stretch;
    

}

footer p{
    display: grid;
    grid-area: footer1;    
    margin-left: 20px;
    margin-top: 40px;
    color: white;
}