a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: flex-end;
    margin-right: 70px;
    margin-top: 5px;
}

a:hover {
        color: #b3b3b3;
}

body {
    margin: 0;
    padding: 0;
    background-color:rgb(76, 67, 156);
    overflow-x: hidden;
}

#logo-nav { 
    height: 35px;
    width: auto;
    display: flex;
    align-items: flex-start;
    margin-left: 70px;   
    margin-top: 5px; 
}

#logo-nav:hover {
    cursor: pointer;
}

nav{
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 15px;
    align-items: center;
    font-weight: bold;
    font-family: 'Fjalla One', sans-serif;
    opacity: 0,9;
}

section {
    display: grid;
    grid-template-areas:
    ". h2 ."
    "h1 h2 h3"
    ". h2 .";
    grid-template-rows: 33% 33% 33%;
    grid-template-columns: 33% 33% 33%;
}

section hgroup {
    justify-content: center;
    display: flex;
}

#h11 {
    grid-area: h1;
    color: #ffffff;
}

#h12 {
    grid-area: h2;
}

#logo-maos {
    display: flex;    
    width: 10x;
    height: 350px;
    margin-top: 30px;
}

#h13 {
    grid-area: h3;
    color: #ffffff;
}

button {
    display: flex;
    align-items: center;
    border-radius: 24px;
    padding: 14px 40px;
    background-color:  #66c3b7;
    border: none;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover {
    cursor: pointer;
    background-color: #99d8c9;
}

aside {
    margin-top: 10%;
    display: grid;
    grid-template-areas: "coluna1 coluna2";
    grid-template-rows: 400px;
    grid-template-columns: 50% 50%;
    background-color: white;
}
aside p {
    margin-top: 180px;
    margin-left: 50px;
    margin-right: 50px;
}
aside iframe {
    margin-top: 50px;
}