body {
    margin: 0;
    padding: 0;
}

#grid {
    display: grid;
    grid-template-areas:
    "nav nav nav nav"
    ""
    ""
    "";
    grid-template-rows: 60px;
    grid-template-columns: 25%;
}

#nav {
    background-color: #ffffff;
    margin-block-start: 0;
    opacity: 0,9;
    position: fixed;
    text-decoration: none;
    top: 0;
}